<div class="header">
  <div class="logo">
    <a href="/"><img src="../images/logo.png" alt="Logo check me in "></a>
  </div>
  <div class="navigation">
    {{#if currentUser}}
    <a href="/user/profile">My profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    {{/if}}
  </div>
</div>
<div class="index-body">
  <div class="welcome">
    <div class="about-us">
      <p> <span class="who-we-are"> Who we are ?</span> <br>Check-Me In is A comunity-blog where people can share their
        experiences
        traveling
        around the
        globe
        No Rules! <br> Be Nice to others, share your experience let us know what you think about the places you visited
        and
        enjoy a daily trip reading about the amazing experiences that others like you had while visting new places.</p>
    </div>
    <div class="join">
      <p> <span class="join-us"> Join today</span> <br> Sign Up today, be part of our comunity and discover a world of
        amazing stories. <br>
        Is everything about lear and discover </p>
    </div>
  </div>

  <div class="search-weather">
    <form id="form">
      <input type="text" placeholder="Search for the weather of your favourite city" class="new-city-search"
        id="search-city" autocomplete="off" />
    </form>
    <div class="weather-description">
      <span>Humidity: </span><span id="humidity"></span><span>%</span>
      <br>
      <span>Wind: </span><span id="wind"></span><span> km/h</span>
      <br>
      <span id="description"></span>
    </div>
    <div class="current-city-information">
      <h3 id="current-city"></h3>
      <h4 class="current-date"></h4>
      <spam class="actual-temp"></spam>
      <a href="#" class="celsius active" id="celsius-temp">°C</a>/
      <a href="#" class="fahrenheit" id="fahrenheit-temp">°F</a>
      <br />
      <span id="icon-current"></i></span>
    </div>
    <div class=" forecasted" id="forecast">
    </div>
  </div>

  <div class="featured">
    <div class="box1">
      <h3>Feautured post</h3>
      <h1>{{posts.0.title}}</h1>
      <h4>By: {{posts.0.author.username}}</h4>
    </div>
    <div>
      <div class="box2">
        <img src={{posts.0.image}} alt={{posts.0.city}} class="posts-image">
      </div>
      <div class="box3">
        <h3>{{posts.0.description}}</h3>
        <p class="overflow">{{posts.0.body}}</p>
        <br>
        <a class="readme" href="/user/readmore/{{posts.0.slug}}">Read full post</a>
        <a href="/posts">See other posts</a>
      </div>
    </div>
  </div>
</div>