<div class="header">
  <div class="logo">
    <a href="/"><img src="../images/logo.png" alt="Logo check me in "></a>
  </div>
  <div class="navigation">
    {{#if currentUser}}
    <button><a href="/user/profile">My profile</a></button> 
    <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    {{/if}}
  </div>
</div>
<div class="index-body">
<h1>Our Gallery</h1>
<p>Find a room with the latest posts from our comunity</p>
<div class="galery">
  {{#each post}}
    <div class="featured allpost">
    <div class="box1">
      <h3>{{city}}</h3>
      <h1>{{title}}</h1>
      <h4>By {{author.username}}</h4>
    </div>
    <div>
      <div class="box2">
        <img src={{image}} alt={{city}} class="posts-image">
      </div>
      <div class="box3">
        <h3>{{description}}</h3>
        <p class="overflow">{{body}}</p>
        <button><a class="readme" href="/user/readmore/{{slug}}">Read full post</a></button>
      </div>
    </div>
    </div>
    {{/each}}
</div>
</div>


    
    