<div class="header">
  <div>
  </div>
  <div class="navigation">
    <a href="/">Home page</a>
    <a href="/user/newpost">Share a new story</a>
    <a href="/user/settings">Settings</a>
    <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </div>
</div>
<h1>{{currentUser.username}}</h1>
<h2>My Recent Posts</h2>
<div class="profile-body">
  <div class="profile-picture">
    <img src="{{currentUser.Picture}}" alt="profile picture">
    <form action="/user/upload-profile-picture" method="POST" enctype="multipart/form-data">
      <label for="Picture">Update Profile Picture</label>
      <input type="file" name="Picture" id="Picture" accept="image/png, image/jpg">
      <br>
      <button type="submit">Submit</button>
    </form>
    {{#if errorMessagepic}}
    <p>{{errorMessagepic}}</p>
    {{/if}}
    <h3>About me</h3>
    <p>{{currentUser.about}}</p>
    <h3>Location</h3>
    <p>{{currentUser.location}}</p>
  </div>
  {{#each currentUser.posts}}
  <div class="featured">
    <h3>{{title}}</h3>
    <h4>{{country}}-{{city}}</h4>
    <p>{{when}}</p>
    <h5>{{description}}</h5>
    <a href="/post/edit/{{_id}}">Edit</a>
  </div>
  {{/each}}
</div>